In [85]:
from datascience import Table, NumberFormatter
import datascience
import matplotlib.pyplot as plt

In [94]:
draft_data = [Table.read_table('data/drafts/draft_NBA_' + str(i) + '_stats.csv') if i > 1999 else None for i in range(0, 2016)]
anthro_data = [Table.read_table('data/drafts/draft_NBA_' + str(i) + '_stats.csv') if i > 1999 else None for i in range(0, 2016)]

In [98]:
a = draft_data[2001]
vorp = a.column('VORP')[a.column('VORP') == 'nan'] = 0
a.where(a.column('Rk') == '1').select(['Pk', 'VORP'])
# a.show()
# 
# a

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:2: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  from ipykernel import kernelapp as app
/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:2: VisibleDeprecationWarning: using a boolean instead of an integer will result in an error in the future
  from ipykernel import kernelapp as app
/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:3: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  app.launch_new_instance()

Pk   | VORP
1    | 0
2    | 26.2
3    | 51.8
4    | -5
5    | 24.4
6    | 37
7    | 1.7
8    | 4.3
9    | -1.5
10   | 26.2
... (47 rows omitted)

In [48]:
t = Table.read_table('test.csv')

In [49]:
t

TEMP_PLAYER_ID | PLAYER_ID | FIRST_NAME | LAST_NAME    | PLAYER_NAME         | POSITION | HEIGHT_WO_SHOES | HEIGHT_WO_SHOES_FT_IN | HEIGHT_W_SHOES | HEIGHT_W_SHOES_FT_IN | WEIGHT | WINGSPAN | WINGSPAN_FT_IN | STANDING_REACH | STANDING_REACH_FT_IN | BODY_FAT_PCT | HAND_LENGTH | HAND_WIDTH
15000          | nan       | Cliff      | Alexander    | Cliff Alexander     | PF-C     | 79.25           | 6' 7.25''             | 80.5           | 6' 8.5''             | 239.2  | 87.5     | 7' 3.5''       | 109.5          | 9' 1.5''             | 5.8          | 9.5         | 10.25
15001          | nan       | Justin     | Anderson     | Justin Anderson     | SF-SG    | 77.25           | 6' 5.25''             | 78.25          | 6' 6.25''            | 230.6  | 83.75    | 6' 11.75''     | 101            | 8' 5''               | 5            | 8.5         | 9.5
15002          | nan       | Brandon    | Ashley       | Brandon Ashley      | PF       | 79.25           | 6' 7.25''             | 80.5           | 6' 8.5''             | 228    | 87.75    | 7' 3.75''      | 105            | 8' 9''               | 8.8          | 9           | 9.5
15003          | nan       | Ryan       | Boatright    | Ryan Boatright      | PG       | 70              | 5' 10''               | 71             | 5' 11''              | 169.6  | 72.5     | 6' 0.5''       | 92.5           | 7' 8.5''             | 6.6          | 7.5         | 8.75
15004          | nan       | Devin      | Booker       | Devin Booker        | SG       | 76.5            | 6' 4.5''              | 77.75          | 6' 5.75''            | 205.8  | 80.25    | 6' 8.25''      | 102.5          | 8' 6.5''             | 8.3          | 8.75        | 9
15005          | nan       | Anthony    | Brown        | Anthony Brown       | SF-SG    | 77.75           | 6' 5.75''             | 79.25          | 6' 7.25''            | 211    | 83       | 6' 11''        | 104.5          | 8' 8.5''             | 6.1          | 8.5         | 9
15006          | nan       | Willie     | Cauley-Stein | Willie Cauley-Stein | C        | 83.25           | 6' 11.25''            | 84.5           | 7' 0.5''             | 242.4  | 87       | 7' 3''         | 111            | 9' 3''               | 6.3          | 9.5         | 9
15007          | nan       | Rakeem     | Christmas    | Rakeem Christmas    | PF-C     | 80.25           | 6' 8.25''             | 81.75          | 6' 9.75''            | 242.6  | 89.25    | 7' 5.25''      | 110.5          | 9' 2.5''             | 9.6          | 9.25        | 9
15008          | nan       | Pat        | Connaughton  | Pat Connaughton     | SG       | 76              | 6' 4''                | 77.25          | 6' 5.25''            | 215    | 80       | 6' 8''         | 96             | 8' 0''               | 10.2         | 8.5         | 9.25
15009          | nan       | Quinn      | Cook         | Quinn Cook          | PG       | 72.25           | 6' 0.25''             | 74             | 6' 2''               | 179    | 76       | 6' 4''         | 96.5           | 8' 0.5''             | 6.7          | 7.5         | 8.75
... (53 rows omitted)

In [50]:
a = Table.read_table('data/combines/anthro_2002.csv')

In [51]:
a

TEMP_PLAYER_ID | PLAYER_ID | FIRST_NAME | LAST_NAME | PLAYER_NAME      | POSITION | HEIGHT_WO_SHOES | HEIGHT_WO_SHOES_FT_IN | HEIGHT_W_SHOES | HEIGHT_W_SHOES_FT_IN | WEIGHT | WINGSPAN | WINGSPAN_FT_IN | STANDING_REACH | STANDING_REACH_FT_IN | BODY_FAT_PCT | HAND_LENGTH | HAND_WIDTH
nan            | 2403      | Nene       | nan       | Nene             | PF       | 81.25           | 6' 9.25''             | nan            | nan                  | 253    | 88.5     | 7' 4.5''       | 109            | 9' 1''               | nan          | nan         | nan
nan            | 2425      | Robert     | Archibald | Robert Archibald | PF-C     | 82              | 6' 10''               | nan            | nan                  | 250    | 83.75    | 6' 11.75''     | 109.5          | 9' 1.5''             | nan          | nan         | nan
nan            | 2486      | Maurice    | Baker     | Maurice Baker    | PG       | 71.75           | 5' 11.75''            | nan            | nan                  | 178    | 76       | 6' 4''         | 96             | 8' 0''               | nan          | nan         | nan
nan            | 2440      | Matt       | Barnes    | Matt Barnes      | SF       | 78.75           | 6' 6.75''             | nan            | nan                  | 226    | 81       | 6' 9''         | 96.5           | 8' 0.5''             | nan          | nan         | nan
nan            | 12286     | Lubos      | Barton    | Lubos Barton     | SF-SG    | 78.5            | 6' 6.5''              | nan            | nan                  | 221    | 84       | 7' 0''         | 107            | 8' 11''              | nan          | nan         | nan
nan            | 2437      | Lonny      | Baxter    | Lonny Baxter     | PF-C     | 78.25           | 6' 6.25''             | nan            | nan                  | 264    | 85.5     | 7' 1.5''       | 107.5          | 8' 11.5''            | nan          | nan         | nan
nan            | 12287     | Lee        | Benson    | Lee Benson       | SF-PF    | 80.25           | 6' 8.25''             | nan            | nan                  | 217    | 85.75    | 7' 1.75''      | 109            | 9' 1''               | nan          | nan         | nan
nan            | 2430      | Carlos     | Boozer    | Carlos Boozer    | PF       | 79.75           | 6' 7.75''             | nan            | nan                  | 258    | 86.25    | 7' 2.25''      | 108.5          | 9' 0.5''             | nan          | nan         | nan
nan            | 2414      | Curtis     | Borchardt | Curtis Borchardt | C        | 82.75           | 6' 10.75''            | nan            | nan                  | 238    | 86.5     | 7' 2.5''       | 112            | 9' 4''               | nan          | nan         | nan
nan            | 2452      | J.R.       | Bremer    | J.R. Bremer      | SG-PG    | 73.25           | 6' 1.25''             | nan            | nan                  | 188    | 74.25    | 6' 2.25''      | 96             | 8' 0''               | nan          | nan         | nan
... (72 rows omitted)